* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

h2 {
  font-weight: normal;
  font-size: 3.5rem;
  text-align: center;
  margin: 20px 0;
}

header {
  width: 100%;
}

header > .head-img {
  padding: 30px;
  max-width: 799px;
  position: relative;
  background: linear-gradient(
    -30deg,
    transparent 40%,
    #9cc2ff 40%,
    #9cc2ff 100%,
    transparent 100%
  );
}

img {
  width: 100%;
}

.head-img > .name {
  position: absolute;
  /* bottom: 50%; */
  left: 50%;
  transform: translate(-50%, -110%);
  color: white;
  font-size: 3rem;
}

header > .about {
  padding: 30px;
}

.about > .about-description {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 20px 0;
  color: rgb(91, 91, 91);
  
}

.head-icons {
  text-align: center;
}
.head-icons img {
  width: 2em;
  text-align: center;
  margin: 0 5px;
}

main {
  padding: 30px;
}

main > .projects {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.projects > .card {
  box-shadow: 0px 6px 8px #bebebe;
  max-width: 320px;
}

.card > .card-screenshot {
  background-color: #6050a8;
  min-height: 250px;
  font-size: 3rem;
  text-align: center;
  color: white;
  padding: 40px;
}

.card > .card-title {
  font-size: 1.5rem;
  padding: 20px;
}

.card > .card-description {
  font-size: 1.2rem;
  padding: 20px;
}


footer > .contact {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  background-color: #006e5a;
  max-width: 799px;
}

.foot-img {
  max-width: 799px;
}

@media (min-width: 600px) {
  main > .projects {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 800px) {
  header > .head-img {
    max-width: 100%;
  }
  .head-img img {
    width: 400px;
    float: left;
  }
  /* .head-img > .name {
    left:700px;
  } */
  .head-img > .about {
    box-shadow: 0px 0px 15px #bebebe;
    width: 80%;
    margin: 90px 30px 10px 70px;
    border: black 1px solid;
    padding: 80px 20px
    
  }

  .about > .about-description{
    font-size: 1.5rem;
    
  }

  .head-img > .name {
    transform: translate(-40%, 0%);
    font-size: 4rem;
  }

  .head-icons {
    display: none;
  }
  footer {
    display: grid;
    grid-auto-flow: column;
  }
  
  .foot-img {
    padding: 20px;
    background-color:#006e5a
  }
  

}
